<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
